.page_404{
    padding:40px 0;
    background:#fff;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    img{
        max-width:100%;
    }
    .four_zero_four_bg{
        background-image: url(../images/dribbble_1.gif);
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        h1{
            font-size:80px;
            color: $primaryColor;
        }
        h3{
            font-size:80px;
        }
    }
    .link_404{			 
        color: #fff!important;
        padding: 10px 20px;
        background-color: $primaryColor;
        text-decoration: none;
        margin: 20px 0;
        display: inline-block;
        &:hover{
            background-color: #003e78;
            border-color: #003e78;
        }
    }
    .contant_box_404{
        margin-top:-50px;
    }
}